<a href="https://colab.research.google.com/github/jeungsengho/python202204/blob/main/Hw4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# 211

def 함수(문자열):
  print(문자열)

print(함수('안녕'))
print(함수('Hi'))

# 안녕
# Hi

안녕
None
Hi
None

In [8]:
# 212

def 함수(a,b):
  print(a + b)

# 함수(3,4) = 7
# 함수(7,8) = 15

print(함수(3,4))
print(함수(7,8))

7
None
15
None

In [10]:
# 213

def 함수(문자열):
  print(문자열)

함수()

# () 안에 값이 없어서

TypeError: ignored

In [12]:
# 214

def 함수(a,b):
  print(a + b)

함수('안녕', 3)  # 문자열과 숫자는 더할 수 없어서

TypeError: ignored

In [13]:
# 215

def print_with_smile(str):
  print(str + ':D')

print_with_smile('Hi')

Hi:D

In [15]:
# 216

print_with_smile('안녕하세요')

안녕하세요:D

In [17]:
# 217

def print_upper_price(price):
  print(price * 1.3)

print_upper_price(100)

130.0

In [19]:
# 218

def print_sum(a,b):
  print(a + b)

print_sum(1,2)

3

In [22]:
# 219

def print_arithemetic_operation(a,b):
  print(a, '+', b, '=', a + b)
  print(a, '-', b, '=', a - b)
  print(a, '*', b, '=', a * b)
  print(a, '/', b, '=', a / b)

print_arithemetic_operation(3,4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [25]:
# 220

def print_max(a,b,c):
  if a > b and a > c:
    print(a)
  elif b > a and b > c:
    print(b)
  else:
    print(c)

print_max(1,2,3)

3

In [27]:
# 221            검색함

def print_reverse(str):
  print(str[::-1])

print_reverse('python')

nohtyp

In [29]:
# 222

def print_score(list):
  print(sum(list) / len(list))

print_score([1,2,3])

2.0

In [31]:
# 223

def print_even(list2):
  for a in list2:
    if a % 2 == 0:
      print(a)

print_even([1,3,2,10,12,11,15])

2
10
12

In [33]:
# 224

def print_keys(dict):
  for keys in dict.keys():
    print(keys)

print_keys({'이름':'김말똥','나이':30,'성별':0})

이름
나이
성별

In [37]:
# 225               검색함

my_dict = {'10/26': [100, 130, 100, 100], '10/27':[10,12,10,11]}

def print_value_by_key(my_dict, key):
  print(my_dict[key])

print_value_by_key(my_dict, '10/26')

[100, 130, 100, 100]

In [47]:
# 226           검색함

def print_5xn(string):
  num = int(len(string) / 5)
  for a in range(num + 1):
    print(string[a*5 : a*5+5])

print_5xn('아이엠어보이유알어걸')

아이엠어보
이유알어걸

In [51]:
#227

def print_mxn(string, a):
  num = int(len(string) / a)
  for x in range(num + 1):
    print(string[x * num : x * num + num])

print_mxn('아이엠어보이유알어걸', 3)

아이엠
어보이
유알어
걸

In [53]:
# 228

def calc_monthly_salary(annual_salary):
  monthly_salary = int(annual_salary / 12)
  return monthly_salary

calc_monthly_salary(12000000)

1000000

In [55]:
# 229

def my_print(a,b):
  print('왼쪽:',a)
  print('오른쪽:',b)

my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

In [57]:
# 230

def my_print(a,b):
  print('왼쪽:',a)
  print('오른쪽:',b)

my_print(b=100, a=200) # 변수에 값을 지정해서 지정한 변수대로 출력

왼쪽: 200
오른쪽: 100