<a href="https://colab.research.google.com/github/jeungsengho/python202204/blob/main/Hw5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# 231

def n_plus_1(n):
  result = n + 1

n_plus_1(3)
print(result)

# 에러 발생 -> result값은 함수 내에 있기 때문에 에러 발생

NameError: ignored

In [5]:
# 232

def make_url(str):
  return 'www.' + str + '.com'

make_url('naver')

'www.naver.com'

In [7]:
# 233

def make_list(str):
  my_list = []
  for i in str:
    my_list.append(i)
  return my_list

make_list('abcd')

['a', 'b', 'c', 'd']

In [9]:
# 234

def pickup_even(list):
  my_list = []
  for i in list:
    if i % 2 == 0:
      my_list.append(i)
  return my_list

pickup_even([3,4,5,6,7,8])

[4, 6, 8]

In [12]:
# 235

def convert_int(num):
  print(int(num.replace(',', '')))

convert_int('1,234,567')

1234567

In [14]:
# 236

def 함수(num):
  return num + 4

a = 함수(10)    # 14
b = 함수(a)     # 18
c = 함수(b)     # 22

print(c)

22

In [16]:
# 237

def 함수(num):
  return num + 4

c = 함수(함수(함수(10))) # 10+4+4+4 = 22
print(c)

22

In [18]:
# 238

def 함수1(num):
  return num + 4

def 함수2(num):
  return num * 10

a = 함수1(10) # 10+4=14

c = 함수2(a)  # 14*10=140

print(c)

140

In [20]:
# 239

def 함수1(num):
  return num + 4

def 함수2(num):
  num = num + 2
  return 함수1(num)

c = 함수2(10)  # 10 + 2 + 4
print(c)

16

In [22]:
# 240

def 함수0(num):
  return num * 2

def 함수1(num):
  return 함수0(num + 2)

def 함수2(num):
  num = num + 10
  return 함수1(num)

c = 함수2(2)    # 2 = 2 + 10 = 12 -> 함수1(12) = 함수0(12+2) = 함수0(14) = 14 * 2 = 28
print(c)

28

In [25]:
# 291

file = open("C:\Users\user\Desktop\매수종목1.txt", 'wt')
file.write("005930\n")
file.write("005380\n")
file.write("035420")
file.close()

SyntaxError: ignored

In [26]:
# 292

file = open("C:\Users\user\Desktop\매수종목2.txt", 'wt')
file.write("005930 '삼성전자'\n")
file.write("005380 '현대차'\n")
file.write("035420 'NAVER'")
file.close()

SyntaxError: ignored

In [27]:
# 293  검색

import csv

f = open("C:\Users\user\Desktop\매수종목.csv", 'wt')
writer = csv.writer(f)
writer.writerow(["종목명", "종목코드", "PER"])
writer.writerow(["삼성전자", "005930", 15.59])
writer.writerow(["NAVER", "035420", 55.82])
f.close()

SyntaxError: ignored

In [28]:
# 294  검색

f = open("C:\Users\user\Desktop\매수종목1.txt", 'wt')
lines = f.readlines()

codes = []
for line in lines:
    code = line.strip()
    codes.append(code)

print(codes)

f.close()

SyntaxError: ignored

In [29]:
# 295 검색

file = open("C:\Users\user\Desktop\매수종목2.txt")
lines = f.readlines()

data = {}
for line in lines:
    line = line.strip()     # '\n' 제거
    k, v = line.split()
    #print(k, v)
    data[k] = v

print(data)
f.close()

SyntaxError: ignored

In [35]:
# 296  검색

per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)

0
0
0

In [37]:
# 297

per = ['10.31', '', '8.00']
new_per = []

for i in per:
  try:
    a = float(i)
  except:
    a = 0
  new_per.append(a)

print(new_per)

[10.31, 0, 8.0]

In [39]:
# 298 검색

try:
    b = 3 / 0
except ZeroDivisionError:
    print("예외")

예외

In [41]:
# 299 검색

data = [1, 2, 3]

for i in range(5):
    try:
        print(data[i])
    except IndexError as e:
        print(e)

1
2
3
list index out of range
list index out of range

In [42]:
# 300 검색

per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)
    else:
        print("clean data")
    finally:
        print("변환 완료")

10.31
clean data
변환 완료
0
변환 완료
8.0
clean data
변환 완료