<a href="https://colab.research.google.com/github/jeungsengho/python202204/blob/main/PythonDay2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 39p 컬렉션

# 모음 - 여러 값을 하나의 이름으로 묶어서 관리하는 자료형

# 리스트 (***) [] 추가/수정/삭제 가능 mutable      인덱싱/슬라이싱 가능
# 튜플         () 추가/수정/삭제 불가능 immutable  인덱싱/슬라이싱 가능   
# 딕셔너리     {} 추가/수정/삭제 가능 mutable      인덱싱/슬라이싱 불가능, 순서가 없다
# 셋           {} 추가/수정/삭제 가능 mutable      인덱싱/슬라이싱 불가능, 순서가 없다 (중복제거용)

In [2]:
# 1. 리스트 - 가장 많이 사용하는 자료형이다. 자료형이 다른 데이터들도 함께 저장할 수 있다.

li1 = [1,2,3,4]
print(li1)
li2 = [2, 3.14, 'hello']
print(li2)

[1, 2, 3, 4]
[2, 3.14, 'hello']

In [3]:
a = "hello"
a[2]

'l'

In [6]:
li = [2, 3.14, 'hello']
li[-1]

'hello'

In [10]:
# (start, stop, step)

li2 = [2, 3.14, 'hello']
li[0:3]

[2, 3.14, 'hello']

In [15]:
scores = [50,40,30]

scores.append(80)    #append는 끝에서 하나씩 추가
scores

scores.insert(0,100)

In [16]:
scores

[100, 50, 40, 30, 80]

In [17]:
scores.pop()     #pop은 끝에서부터 하나씩 삭제

80

In [19]:
scores.pop(0)

100

In [20]:
scores

[50, 40, 30]

In [25]:
# 2. 튜플 - 한마디로 표현하면 수정할 수 없는 리스트
#           괄호 생략 가능

tu1 = (1,2,3)
print(tu1)
print(type(tu1))

tu2 = 2,3,4
print(tu2)
print(type(tu2))

tu3 = 2,3.14, '문자'
print(tu3)
print(type(tu3))

(1, 2, 3)
<class 'tuple'>
(2, 3, 4)
<class 'tuple'>
(2, 3.14, '문자')
<class 'tuple'>

In [30]:
tu = (10,20,30,40,50)
tu[0:3]

(10, 20, 30)

In [32]:
# 셋 추가/삭제는 되고 인덱싱이 안된다 (순서가 없고, 중복제거용)
set = {1,2,3}
print(type(set))
print(set)

<class 'set'>
{1, 2, 3}

In [33]:
set = {1,2,2,3,3,3}
print(type(set))
print(set)

<class 'set'>
{1, 2, 3}

In [49]:
# 4. 딕셔너리 : 키와 밸류 한 쌍으로 구성된 자료형이다.

dict = {'a': 'apple', 'b': 'banana'}

print(dict)
print(type(dict))

{'a': 'apple', 'b': 'banana'}
<class 'dict'>

In [121]:
dict ['w']='watermelon'
print(dict)
print(type(dict))

{'b': 'banana', 'w': 'watermelon'}
<class 'dict'>

In [52]:
dict.pop('a')
print(dict)
print(type(dict))

{'b': 'banana', 'w': 'watermelon'}
<class 'dict'>

In [53]:
dict[0]

KeyError: ignored

In [81]:
me = [1,2,3]     # 리스트
id(me)

139840191288816

139840191288816

In [ ]:
me.append(4)
print(id(me))
print(me)

In [71]:
me = 10     # 정수
print(id(me))

94760053127968

In [72]:
me += 1
print(id(me))

94760053128000

In [76]:
me = [1,2,3]

you = me

print(id(me))
print(id(you))

140264470304320
140264470304320

In [86]:
you.append(4)

print(id(me))
print(id(you))
print(me)
print(you)

140264469604544
140264470304320
[1, 2, 3]
[1, 2, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4]

In [94]:
# p49
# 2. 


no1 = '서울2가1234'
no2 = '10가1234'
no3 = '288가1234'

print(no1,'의 차량번호 4자리는 ',no1[-4:], '입니다.')
print(no2,'의 차량번호 4자리는 ',no2[-4:], '입니다.')
print(no3,'의 차량번호 4자리는 ',no3[-4:], '입니다.')

서울2가1234 의 차량번호 4자리는  1234 입니다.
10가1234 의 차량번호 4자리는  1234 입니다.
288가1234 의 차량번호 4자리는  1234 입니다.

In [104]:
# 3.

str = 'maple'


print(str,'의 가운데 글자는',str[2],'입니다.')

maple 의 가운데 글자는 p 입니다.

In [118]:
# 4.

li = [10,20,30,40,50,60,70,80,90,100]
print('3번째 요소부터 7번째 요소 =',li[2:7])
print('3번째 요소부터 7번째 요소 중 2번째 요소 =', li[2:7][1])

3번째 요소부터 7번째 요소 = [30, 40, 50, 60, 70]
3번째 요소부터 7번째 요소 중 2번째 요소 = 40

In [127]:
# 5.

dict = {'금요일':'탕수육', '토요일':'유산슬', '일요일':'팔보채'}
print('금요일 :' ,dict['금요일'])
print('토요일 :' ,dict['토요일'])
print('일요일 :' ,dict['일요일'])

금요일 : 탕수육
토요일 : 유산슬
일요일 : 팔보채

In [141]:
print('Hello \'World\'')
print("Hello \"World\"")
print('*\n**\n***')       # \n = 줄바꿈
print('이름 \t 연락처')    # \t = 탭
print('제시카 \t 02-123-4567')
print('마틴 \t 010-8765-1234')

Hello 'World'
Hello "World"
*
**
***
이름 	 연락처
제시카 	 02-123-4567
마틴 	 010-8765-1234

In [148]:
print('재미있는','파이썬', sep=' ')
print('Python','Java','C', sep='.')   # sep='.' 무언가로 나누어 찍어라
print()
print('영화 타이타닉')
print('평점', end = ' ')              # end=' ' 밑으로 안간다 -> 옆에 바로
print('5점')

재미있는 파이썬
Python.Java.C

영화 타이타닉
평점 5점

In [157]:
# 인쇄 4가지 방법

# 1. 기본출력
# 2. %연산자출력
# 3. format()매서드
# 4. f string (***)

# 2. %연산자 출력

print('%d' % 10)
print('%d 원입니다.' %100)
print('%s 원입니다.' %100)
print('원주율은 %f입니다.' %3.14)
print('원주율은 %s입니다.' %3.14)

10
100 원입니다.
100 원입니다.
원주율은 3.140000입니다.
원주율은 3.14입니다.

In [162]:
print('%5d'  % 1)
print('%5d'  % 12)
print('%-5d'  % 1)
print('%-5d'  % 12)

    1
   12
1
12

In [164]:
# 3. format()매서드

print('My name is {}'.format('James'))

My name is James

In [179]:
# 1. 기본출력
name='James'
age=25
print('My name is',name,'I\'m',age, 'years old',)

# 2. %연산자출력
print('MY name is %s i\'m %s years old' %('James', 25))

# 3. format 매서드
print('My name is {} I\'m {} years old'.format('James', 25))

# 4. f string
print(f'My name is {name} I\'m {age} years old')

My name is James I'm 25 years old
MY name is James i'm 25 years old
My name is James I'm 25 years old
My name is James I'm 25 years old

In [181]:
age = 25

print(f'내년엔 {age+1}살이 됩니다.')

내년엔 26살이 됩니다.