<a href="https://colab.research.google.com/github/jeungsengho/python202204/blob/main/PythonDay5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# p116 for문


for n in [1,2,3]:
  print(n)

1
2
3

In [17]:
n = 1
while n in [1,2,3]:
  print(n)
  n += 1

1
2
3

In [19]:
# 반복 가능 객체 (컬렉션)
# 시퀀스 자료형 - 문자열 리스트 튜플 range
# 비시퀀스 자료형 - 셋, 딕셔너리 (순서가 없다.)

for ch in 'Hello':
  print(ch)

H
e
l
l
o

In [22]:
# for 문과 list
for item in ['가위', '바위', '보']:
  print(item)

가위
바위
보

In [24]:
# for 문과 tuple
for season in ('Spring','Summer','Autumn','Winter'):
  print(season)

Spring
Summer
Autumn
Winter

In [27]:
# for 문과 range()

# range(5)     # 0부터 5 미만 까지 즉, 4까지
# range(2,10)    # 2부터 10 미만 까지 즉, 9까지

In [29]:
print(list(range(5)))

[0, 1, 2, 3, 4]

In [31]:
print(list(range(2,10)))

[2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
for n in [1,2,3,4,5,6,7,8,9,10]:
  print(n)

1
2
3
4
5
6
7
8
9
10

In [35]:
for n in range(1,11):
  print(n)

1
2
3
4
5
6
7
8
9
10

In [44]:
# for 문과 set (set은 순서가 없다.)
for item in {'가위','바위','보'}:
  print(item)

가위
바위
보

In [47]:
# for 문과 딕셔너리 (키와 밸류값)

person = {
    'name':'에밀리',
    'age':20
}

for item in person:
  print(item, person[item])

name 에밀리
age 20

In [70]:
# p129 2번
n = int(input('임의의 양수를 입력하세요 >>>'))

sum = 0
for no in range(1,n+1):
  sum += no
print(sum)

임의의 양수를 입력하세요 >>>5
15

In [71]:
# p129 3번

a = int(input('몇 개의 과일을 보관할까요? >>>'))

basket = []

for i in range(a):
  fruit = input(f'{i+1}번째 과일을 입력하세요 >>>')
  basket.append(fruit)


print(f'입력받은 과일들은 {basket}입니다.')

몇 개의 과일을 보관할까요? >>>5
1번째 과일을 입력하세요 >>>사과
2번째 과일을 입력하세요 >>>딸기
3번째 과일을 입력하세요 >>>바나나
4번째 과일을 입력하세요 >>>토마토
5번째 과일을 입력하세요 >>>포도
입력받은 과일들은 ['사과', '딸기', '바나나', '토마토', '포도']입니다.

In [76]:
# p134    break (반복 강제 종료)

n = 1
while n <= 10:
  print(n)

  n += 1

1
2
3
4
5
6
7
8
9
10

In [78]:
n = 1
while True:
  print(n)
  if n == 10:
    break
  n += 1

1
2
3
4
5
6
7
8
9
10

In [85]:
# p138   continue  (시작 지점으로)

total = 0;
for a in range(1,101):
  if a % 3 == 0:
    continue
  total += a

print(total)

3367

In [92]:
# p141 1번

coin = 10000
while True:
  print(f'현재 {coin}원이 있습니다.')

  if coin == 0:
    break

  pay = int(input('사용할 금액 입력 >>> '))
 
  if pay <= 0:
    print('0이하의 금액은 사용할 수 없습니다.')
  elif pay > coin:
    print(f'{pay - coin}원이 부족합니다.')  
  else:
    coin -= pay

현재 10000원이 있습니다.
사용할 금액 입력 >>> 10000
현재 0원이 있습니다.

In [107]:
# p141 2번

while True:
  score = int(input('이번 영화의 평점을 입력하세요 >>>'))

  if score > 5 or score <= 0:
    print('평점은 1~5 사이만 입력할 수 있습니다.')
  else:
    print('평점: ', '★' *  score )
    break

이번 영화의 평점을 입력하세요 >>>5
평점:  ★★★★★

In [113]:
# p142 3번

answer = 'qwerty'

no = 1

while True:
  pw = input('비밀번호를 입력하세요 >>> ')

  if answer == pw:
    print('비밀번호를 맞혔습니다.')
    break
  
  if no == 5:
     print('비밀번호 입력횟수를 초과했습니다.')
     break
     
  no += 1

비밀번호를 입력하세요 >>> qwerty
비밀번호를 맞혔습니다.

In [123]:
# p143 4번

for a in range(2,10):
  if a % 2 == 0:
    continue
  for b in range(1,10):
    if b > a:
      break
    print(f'{a} * {b} = {a * b}')
  print()

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [125]:
# p146 내장함수

# enumerate()

for item in enumerate(['가위','바위','보']):
  print(item)

(0, '가위')
(1, '바위')
(2, '보')

In [127]:
for idx, item in enumerate(['가위','바위','보']):
  print(idx, item)

0 가위
1 바위
2 보

In [129]:
# zip()

names = ['james','emily','amanda']
scores = [60,70,80]

for student in zip(names,scores):
  print(student)

('james', 60)
('emily', 70)
('amanda', 80)

In [131]:
names = ['james','emily','amanda']
scores = [60,70,80]

for name, score in zip(names,scores):
  print(f'{name}의 점수는 {score}점 입니다.')

james의 점수는 60점 입니다.
emily의 점수는 70점 입니다.
amanda의 점수는 80점 입니다.

In [132]:
# p184 사용자 함수

# def 함수명(변수) :
#  본문
#  return 결과

In [142]:
# 1. 인수 없고 반환 없는 사용자 정의 함수

def welcome():
  print('Hello World')


welcome()

Hello World

In [138]:
# 2. 인수 있고 반환 없는 사용자 정의 함수

def welcome(name):
  print('Hello', name)


welcome('Austin')

Hello Austin

In [139]:
# 3. 인수 없고 반환 있는 사용자 정의 함수

def welcome():
  return 1

welcome()

1

In [143]:
# 4. 인수 있고 반환 있는 사용자 정의 함수 (가장 많이 사용)

def add(a,b):
  return a+b

add(3,4)

7

In [147]:
def introduce(name,age):
  print(f'내 이름은 {name}이고, 나이는 {age}살 입니다.')

introduce('james', 25)

내 이름은 james이고, 나이는 25살 입니다.

In [162]:
#  가변 매개변수

def add2(a,b):
  return a+b

def add3(a,b,c):
  return a+b+c

add2(3,4)




def add(*args):
  sum = 0
  for item in args:
    sum += item
  print(sum)

add(1,2,3,4,5,6,7,8,9)

45

In [175]:
del sum

def add(*args):
  print(f'{sum(args)}입니다.')


add(1,2,3)

6입니다.

In [160]:
# 디폴트 매개변수
def greet(message='안녕하세요'):
  print(message)

greet()

안녕하세요

In [161]:
greet('방가방가')

방가방가